fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
groq
PyPDF2
docx2txt
xhtml2pdf
textstat
email-validator
psycopg2-binary
