fastapi
uvicorn[standard]
SQLAlchemy
pydantic
pydantic-settings
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
groq
pdfminer.six
python-docx
pyresparser
phonenumbers
xhtml2pdf
textstat
pdf2image
pytesseract
celery
redis
email-validator
spacy
